<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.category_id":"Category Id",
"var data.cat_name":"Category Name",
"var data.layer_id":"Layer Id",
"var data.product":"Layer Label",
"var data.comment":"Comment"}
@-->
Name: {{var data.name}}
Email: {{var data.email}}
Telephone: {{var data.phone}}

Comment: {{var data.comment}}
Layer Id: {{var data.layer_id}}
Layer Label: {{var data.product}}
URL of Schematic: {{var data.schematic_url}}
Category Id: {{var data.category_id}}
Category Title: {{var data.cat_name}}
