<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ewall_Imagemarker>
            <version>0.1.2</version>
        </Ewall_Imagemarker>
    </modules>
    <frontend>
        <routers>
            <front_imagemarker>
                <use>standard</use>
                <args>
                    <module>Ewall_Imagemarker</module>
                    <frontName>imagemarker</frontName>
                </args>
            </front_imagemarker>
        </routers>
        <layout>
            <updates>
                <imagemarker>
                    <file>imagemarker.xml</file>
                </imagemarker>
            </updates>
        </layout>       
    </frontend>
    <global>
        <rewrite>        
            <ewall_imagemarker_checkout_cartcontroller>
                <from><![CDATA[#^/checkout/cart/#]]></from>
                <to>/imagemarker/checkout_cart/</to>
            </ewall_imagemarker_checkout_cartcontroller>
        </rewrite>
        <blocks>
            <imagemarker>
                <class>Ewall_Imagemarker_Block</class>
            </imagemarker>
            <adminhtml>
                <rewrite>
                    <page_menu>Ewall_Imagemarker_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <imagemarker>
                <class>Ewall_Imagemarker_Helper</class>
            </imagemarker>
        </helpers>
        <models>
            <imagemarker>
                <class>Ewall_Imagemarker_Model</class>
                <resourceModel>imagemarker_mysql4</resourceModel>
            </imagemarker>
            <imagemarker_mysql4>
                <class>Ewall_Imagemarker_Model_Mysql4</class>
                <entities>
                    <schematic>
                        <table>schematic_layer</table>
                    </schematic>
                    <count>
                        <table>layer_count</table>
                    </count>
                </entities>
            </imagemarker_mysql4>
        </models>
        <resources>
            <imagemarker_setup>
                <setup>
                    <module>Ewall_Imagemarker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imagemarker_setup>
            <imagemarker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imagemarker_write>
            <imagemarker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imagemarker_read>
            <categoryschematicattribute_setup>
                <setup>
                    <module>Ewall_Imagemarker</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryschematicattribute_setup>
            <categoryschematicattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryschematicattribute_write>
            <categoryschematicattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryschematicattribute_read>
        </resources>
        <events>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <controller_action_layout_generate_blocks_before_handler>
                        <type>model</type>
                        <class>imagemarker/observer</class>
                        <method>SchematicLayoutUpdate</method>
                        <args />
                    </controller_action_layout_generate_blocks_before_handler>
                </observers>
            </controller_action_layout_generate_blocks_before>
            <catalog_category_save_commit_after>
                <observers>
                    <category_category_observer>
                        <type>singleton</type>
                        <class>imagemarker/observer</class>
                        <method>saveCategoryData</method>
                    </category_category_observer>
                </observers>
            </catalog_category_save_commit_after>
            <catalog_product_save_before>
                <observers>
                    <catalog_product_observer>
                        <type>singleton</type>
                        <class>imagemarker/observer</class>
                        <method>saveProductData</method>
                    </catalog_product_observer>
                </observers>
            </catalog_product_save_before>
        </events>
        <template>
            <email>
                <imagemarker_section_imagemarker_group_email_template translate="label" module="imagemarker">
                    <label>Schematics Contact Form</label>
                    <file>contact_form_new.html</file>
                    <type>text</type>
                </imagemarker_section_imagemarker_group_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <imagemarker>
                <use>admin</use>
                <args>
                    <module>Ewall_Imagemarker</module>
                    <frontName>admin_imagemarker</frontName>
                </args>
            </imagemarker>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <imagemarker module="imagemarker">
                <title>Vivid Innovations</title>
                <sort_order>100</sort_order>
                <children>
                    <imagemarker module="imagemarker">
                        <title>Schematics</title>
                        <sort_order>100</sort_order>
                        <children>
                            <imagemarker module="imagemarker">
                                <title>Manage Schematics</title>
                                <sort_order>0</sort_order>
                                <action>admin_imagemarker/adminhtml_imagemarker</action>
                            </imagemarker>
                            <reports module="imagemarker">
                                <title>Reports</title>
                                <sort_order>1</sort_order>
                                <action>admin_imagemarker/adminhtml_imagemarker</action>
                            </reports>
                            <settings module="imagemarker">
                                <title>Settings</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/imagemarker_section</action>
                            </settings>
                        </children>
                    </imagemarker>                    
                </children>
            </imagemarker>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <imagemarker translate="title" module="imagemarker">
                            <title>Imagemarker</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <imagemarkerbackend translate="title">
                                    <title>Schematic</title>
                                </imagemarkerbackend>
                                <imagemarker translate="title">
                                    <title>Manage Imagemarker</title>
                                    <sort_order>10</sort_order>
                                </imagemarker>
                            </children>
                        </imagemarker>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <imagemarker>
                    <file>imagemarker.xml</file>
                </imagemarker>
            </updates>
        </layout>
    </adminhtml>
</config>