<?xml version="1.0"?>
<config>
  <modules>
    <Ewall_Imagemarker>
      <version>0.1.0</version>
    </Ewall_Imagemarker>
  </modules>
  <global>
  	<blocks>
	  <imagemarker>
		<class>Ewall_Imagemarker_Block</class>
	  </imagemarker>
	</blocks>
    <helpers>
      <imagemarker>
        <class>Ewall_Imagemarker_Helper</class>
      </imagemarker>
    </helpers>
	<models>
	  <imagemarker>
		<class>Ewall_Imagemarker_Model</class>
		<resourceModel>imagemarker_mysql4</resourceModel>
	  </imagemarker>
	  <imagemarker_mysql4>
		<class>Ewall_Imagemarker_Model_Mysql4</class>
		<entities>		  
			  <schematic>
				<table>schematic_layer</table>
			  </schematic>
        </entities>
	  </imagemarker_mysql4>
	</models>
	<resources>
		<imagemarker_setup>
		<setup>
		  <module>Ewall_Imagemarker</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </imagemarker_setup>
	  <imagemarker_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </imagemarker_write>
	  <imagemarker_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </imagemarker_read>
	  <categoryschematicattribute_setup>
		<setup>
		  <module>Ewall_Imagemarker</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryschematicattribute_setup>
	  <categoryschematicattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryschematicattribute_write>
	  <categoryschematicattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryschematicattribute_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <imagemarker>
	    <use>admin</use>
		<args>
		  <module>Ewall_Imagemarker</module>
		  <frontName>admin_imagemarker</frontName>
		</args>
	  </imagemarker>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <imagemarker module="imagemarker">
		<title>Imagemarker</title>
		<sort_order>100</sort_order>
		<children>
		  <imagemarkerbackend module="imagemarker">
			<title>Schematic</title>
			<sort_order>0</sort_order>
			<action>admin_imagemarker/adminhtml_imagemarkerbackend</action>
		  </imagemarkerbackend>
		  <imagemarker module="imagemarker">
		    <title>Manage Imagemarker</title>
			<sort_order>10</sort_order>
			<action>admin_imagemarker/adminhtml_imagemarker</action>
		  </imagemarker>
		</children>
	  </imagemarker>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<imagemarker translate="title" module="imagemarker">
			  <title>Imagemarker</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <imagemarkerbackend translate="title">
			<title>Schematic</title>
		  </imagemarkerbackend>
		  <imagemarker translate="title">
			<title>Manage Imagemarker</title>
			<sort_order>10</sort_order>
		  </imagemarker>
			  </children>
			</imagemarker>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<imagemarker>
		  <file>imagemarker.xml</file>
		</imagemarker>
	  </updates>
	</layout>
  </adminhtml>
</config> 